<!-- 필요한 변수 : products, status -->

<table class="table table-bordered " style="text-align: center;">
    <thead class="table-primary "><th>상품</th><th>상품명</th><th>가격</th><th>브랜드</th>
        <% if(status == 'create' || status=='view' ) { %>
        <th colspan="2"></th>  <% } %>
    </thead> 
<% var i = 0;
    while( i < products.length) { %>
    <tr><td><a href="/detail/<%= products[i].mer_id%>" style="text-decoration: none;"><img src="<%= products[i].image %>" style="width:100px;height:100px; "></a></td>
        <td><%= products[i].name %></td>
        <td><%= products[i].price %></td>
        <td><%= products[i].brand %></td>
        <% if(status=='create' || status=='view') { %>
        <td><a href="/product/update/<%= products[i].mer_id %>">수정</a></td>
        <td><a href="/product/delete/<%= products[i].mer_id%>" onclick="if(confirm('정말로 삭제하시겠습니까?')==false) return false">삭제</a></td>
        <% } %> 
    </tr>
<% i++; } %>
    
</table>

<% if(products.length == 0)  { %>
    <p>자료가 없으니 상품 추가 버튼으로 코드를 추가해 주십시오. </p> <% } %>

<!-- 홈일때는 보여주지 않음 -->
<% if(status == 'create' || status=='view'){ %> 
<a href="/product/create"><button class="btn btn-outline-secondary btn-sm" type="submit">상품 추가</button></a>  
<% } %>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                